# Linear Regression

In [13]:
import numpy as np
import pandas as pd

import random

In [28]:
pd.options.mode.copy_on_write = True

In [3]:
train = pd.read_csv("train_eda.csv")
test = pd.read_csv("test_eda.csv")

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_L,Cabin_N,Title,Surname
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,Mr.,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,85.0,Mrs.,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,Miss.,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,123.0,Mrs.,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,Mr.,Allen

In [36]:
# From the EDA notebook
removeable_columns = ["PassengerId", "Survived"]
categorical_columns = ["Pclass", "Sex", "Parch", "Embarked", "SibSp", 'Cabin_L'] 
continuous_columns = ["Age", "Fare"]
discrete_columns = ["Cabin_N"]

categorical_columns.append("Title")

feature_columns = categorical_columns + continuous_columns + discrete_columns

In [ ]:
# Separate inputs and outputs
y = train["Survived"]
X, X_test = train.drop(columns=removeable_columns, axis=1), test.drop(columns=["PassengerId"], axis=1)

In [25]:
# Shuffle the data
idx = [i for i in range(len(X))]
random.shuffle(idx)

# 80/20 Split for train/val
val_size = 0.2
t_id = int((1-val_size)*len(X))
X_train, X_val = X[:t_id], X[t_id:]
y_train, y_val = y[:t_id], y[t_id:]

In [10]:
continuous_columns + discrete_columns

['Age', 'Fare', 'Cabin_N']

In [ ]:
# Impute Categorical Columns
missing_cat_val = "Unknown"
X_train[categorical_columns].fillna(missing_cat_val)
X_val[categorical_columns].fillna(missing_cat_val)
X_test[categorical_columns].fillna(missing_cat_val)

# Impute Numerical Columns
numerical_columns = continuous_columns+discrete_columns
for col in numerical_columns:
    median = X_train[col].median()
    X_train[col].fillna(median)
    X_val[col].fillna(median)
    X_test[col].fillna(median)


# missing_count = X_train[feature_columns].isna().sum().sum() + X_val[feature_columns].isna().sum().sum() + X_test[feature_columns].isna().sum().sum()
missing_count = X_train[feature_columns].isna().sum().sum() + X_val[feature_columns].isna().sum().sum() + X_test[feature_columns].isna().sum().sum()

assert  missing_count == 0, "Missing Values Need to be handled"

AssertionError: Missing Values Need to be handled

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Cabin_N, Length: 891, dtype: bool